body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

h1 {
  color: #0073e6;
}

nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
}
img {
  width: 300px;
  border-radius: 12px;
  margin: 10px;
}
